1. Python Program to replace all occurences of space, comma or dot with a colon.

In [9]:
import regex as re

text = 'Python Exercises, PHP Exercises.'
rep_text = re.sub("[, .]", ":", text)
print(rep_text)

Python:Exercises::PHP:Exercises:

2.Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

In [141]:
import regex as re
import pandas as pd

Dictionary = {'SUMMARY':['hello, world!', 'XXXXX test', '123four,five:;six...']}
df = pd.DataFrame(Dictionary)
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z/s]', '', regex=True)
print(df)

       SUMMARY
0   helloworld
1    XXXXXtest
2  fourfivesix

3.Create a function in python to find all words that are at least 4 characters long in a string using the re.compile() method.

In [157]:
import re

string = 'This is a very interesting program'
pattern = re.compile(r'\b\w{4,}\b')
result = pattern.findall(string)
print(result)

['This', 'very', 'interesting', 'program']

4.Create a function in python to find all three, four, and five character words in a string by using the re.compile() method.

In [160]:
import re

string = 'He will be attending the meeting today'
pattern = re.compile(r'\b\w{3,5}\b')
output = pattern.findall(string)
print(output)

['will', 'the', 'today']

5.Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [288]:
import re

Text = '"example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"'
pattern = re.compile(r' ?\(| ?\)')
output = re.sub(pattern, "", Text)
print(output)

"example.com", "hr@fliprobo.com", "github.com", "HelloData Science World", "DataScientist"

6.Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [294]:
import re

Text = '"example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"'

pattern = r" ?\([^)]+\)"

output = re.sub(pattern, "", Text)

print(output)

"example", "hr@fliprobo", "github", "Hello", "Data"

7.Write a regular expression in Python to split a string into uppercase letters.

Sample text: “ImportanceOfRegularExpressionsInPython”

In [37]:
import re

Text = "ImportanceOfRegularExpressionsInPython"

output = re.findall(r'[A-Z][^A-Z]*', Text)

print(output)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

8.Create a function in python to insert spaces between words starting with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [174]:
import re

Text = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = r'(\w)([0-9])'
output = re.sub(pattern, r'\1 \2', Text)
print(output)

RegularExpression 1IsAn 2ImportantTopic 3InPython

9.Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [281]:
import re

Text = "RegularExpression1IsAn2ImportantTopic3InPython"

pattern = r'([A-Z][a-z0-9]*)|(\d+)'

output = re.sub(pattern, r' \1\2', Text)

output = output.strip()

print(output)

Regular Expression1 Is An2 Important Topic3 In Python

10.Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [266]:
import pandas as pd

url = "https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv"

df = pd.read_csv(url)

df['first_five_letters'] = df['Country'].apply(lambda x: x[:6])

print(df)

         Country                           Region  Happiness Rank  \
0    Switzerland                   Western Europe               1
1        Iceland                   Western Europe               2
2        Denmark                   Western Europe               3
3         Norway                   Western Europe               4
4         Canada                    North America               5
..           ...                              ...             ...
153       Rwanda               Sub-Saharan Africa             154
154        Benin               Sub-Saharan Africa             155
155        Syria  Middle East and Northern Africa             156
156      Burundi               Sub-Saharan Africa             157
157         Togo               Sub-Saharan Africa             158

     Happiness Score  Standard Error  Economy (GDP per Capita)   Family  \
0              7.587         0.03411                   1.39651  1.34951
1              7.561         0.04884                   1.30232  1.40223
2              7.527         0.03328                   1.32548  1.36058
3              7.522         0.03880                   1.45900  1.33095
4              7.427         0.03553                   1.32629  1.32261
..               ...             ...                       ...      ...
153            3.465         0.03464                   0.22208  0.77370
154            3.340         0.03656                   0.28665  0.35386
155            3.006         0.05015                   0.66320  0.47489
156            2.905         0.08658                   0.01530  0.41587
157            2.839         0.06727                   0.20868  0.13995

     Health (Life Expectancy)  Freedom  Trust (Government Corruption)  \
0                     0.94143  0.66557                        0.41978
1                     0.94784  0.62877                        0.14145
2                     0.87464  0.64938                        0.48357
3                     0.88521  0.66973                        0.36503
4                     0.90563  0.63297                        0.32957
..                        ...      ...                            ...
153                   0.42864  0.59201                        0.55191
154                   0.31910  0.48450                        0.08010
155                   0.72193  0.15684                        0.18906
156                   0.22396  0.11850                        0.10062
157                   0.28443  0.36453                        0.10731

     Generosity  Dystopia Residual first_five_letters
0       0.29678            2.51738             Switze
1       0.43630            2.70201             Icelan
2       0.34139            2.49204             Denmar
3       0.34699            2.46531             Norway
4       0.45811            2.45176             Canada
..          ...                ...                ...
153     0.22628            0.67042             Rwanda
154     0.18260            1.63328              Benin
155     0.47179            0.32858              Syria
156     0.19727            1.83302             Burund
157     0.16681            1.56726               Togo

[158 rows x 13 columns]

11.Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [75]:
import re

string = 'ABC122_ax_erS'
pattern = r'^[a-zA-Z0-9_]+$'

if re.match(pattern,string):
    print("String matches the pattern")
else:
    print("String does not match the pattern")

String matches the pattern

12.Write a Python program where a string will start with a specific number.

In [71]:
import re

string = input('Enter any number with 2 or more digits')
number = input('Enter any one digit number')
pattern = re.match(number,string)

if pattern:
   print('String starts with the number specified')
else:
   print('String does not starts with the number specified')

Enter any number with 2 or more digits52763
Enter any one digit number5
String starts with the number specified

13.Write a Python program to remove leading zeros from an IP address

In [54]:
import re

string = "123.045.60.789"
pattern = re.sub('\.[0]*', '.', string)
print(pattern)

123.45.60.789

14.Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

In [200]:
import re

Text = 'On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.'

pattern = r'([a-zA-Z]+) (\d+[a-z]+) (\d+)'

Output = re.search(pattern, Text)

print(Output)

<re.Match object; span=(3, 19), match='August 15th 1947'>

15.Write a Python program to search some literals strings in a string. 

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [206]:
import re

Text = 'The quick brown fox jumps over the lazy dog.'
literals = [ 'fox', 'dog', 'horse' ]

for pattern in literals:
    print('Searching for "%s" in "%s" ->' % (pattern, Text))
    
    if re.search(pattern,  text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

16.Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [307]:
import re

Text = 'The quick brown fox jumps over the lazy dog.'
Word = 'fox'

match = re.search(Word, Text)

s = match.start()
e = match.end()

print('Found "%s" in "%s" from %d to %d ' %(match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

17.Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'
    
Pattern : 'exercises'.

In [218]:
import re

String = 'Python exercises, PHP exercises, C# exercises'
Substring = 'exercises'

for match in re.findall(Substring, String):
   print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

18.Write a Python program to find the occurrence and position of the substrings within a string.

In [222]:
import re

String = 'Jaipur City, Nagpur City, Kanpur City'
Substring = 'City'

for match in re.finditer(Substring, String):
    
    s = match.start()
    e = match.end()

print('Found "%s" from %d to %d' % (String[s:e], s, e))

Found "City" from 33 to 37

19.Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [61]:
import re

String = '2024-07-06'
pattern = re.split('-', String)
Converted_date = '-'.join(pattern[::-1])
print(Converted_date)

06-07-2024

20.Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [223]:
import re

Text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern = re.compile(r'\b([0-9]+\.[0-9]{1,2})\b')
output = re.findall(pattern, Text)
print(output)

['01.12', '145.8', '3.01', '27.25', '0.25']

21.Write a Python program to separate and print the numbers and their position of a given string.

In [225]:
import re

String = 'They have sold 122 pens and 194 books today'

for m in re.finditer("\d+", String):
    print(m.group(0))
    print("Position:", m.start())

122
Position: 15
194
Position: 28

22.Write a regular expression in python program to extract maximum/largest numeric value from a string.

Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Expected Output: 950

In [88]:
import re

String = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

Number = re.findall('\d+', String)
Number = map(int, Number)
print (max(Number))

950

23.Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

Expected Output: Regular Expression Is An Important Topic In Python

In [236]:
import re

String = 'RegularExpressionIsAnImportantTopicInPython'
pattern = r'[A-Z][a-z]*'
output = re.findall(pattern, String)

print(' '.join(output))

Regular Expression Is An Important Topic In Python

24.Python regex to find sequences of one upper case letter followed by lower case letters

In [245]:
import re

Text = "First aid is cOnsidered as Very important"

pattern = r'[A-Z][a-z]+'

Output = re.findall(pattern, Text)

print(Output)

['First', 'Onsidered', 'Very']

25.Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [118]:
import re

Text = "Hello hello world world"

pattern = r'\b(\w+)(?:\W+\1\b)+'

output = re.sub(pattern, r'\1', Text)

print(output)

Hello hello world

26.Write a python program using RegEx to accept string ending with alphanumeric character.

In [119]:
import re

Text = "This was ennding with ABZisd*123_QgD"

pattern = r'[A-Za-z0-9]$'

if re.search(pattern, string):
   print('ending with alphanumeric character')
else:
   print("does not ends with alphanumeric character")

ending with alphanumeric character

27.Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [122]:
import re

Text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""

pattern = re.findall(r'#\w+',Text)

print(pattern)

['#Doltiwal', '#xyzabc', '#Demonetization']

28.Write a python program using RegEx to remove <U+..> like symbols

Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [126]:
import re

Text = "@Jags123456 Bharat band on 28??<U+00A0><U+00BD><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r'<U\+\w{4}>'

output = re.sub(pattern, "", Text)

print(output)

@Jags123456 Bharat band on 28??Those who are protesting #demonetization are all different party leaders

29.Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [298]:
import re

Text = 'Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.'

date = re.findall(r'(\d{2}-\d{2}-\d{4})+', Text)[0]

print(date)

12-09-1992

30.Create a function in python to remove all words from a string of length between 2 and 4.

The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [98]:
import re

Text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = re.compile(r'\b\w{2,4}\b')
Output = re.sub(pattern, '', Text)
print(Output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.